* {
    box-sizing: border-box;
}

.row {
  display: flex;
}

.col {
    flex: 50%;
    padding: 10px
  }

.container {
    text-align: center;
}

.light-container {
    display: flex;
    flex-wrap: wrap;
}

.light {
    width: 15%;
    border: 2px solid black;
}